.productGallery{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    &__activeImage{
        width: 100%;
        max-width: 100%;
        height: 400px;
        object-fit: contain;
        -webkit-backdrop-filter: blur(2px);
        backdrop-filter: blur(2px);   
    }
    &__thumbnails{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        list-style-type: none;
        gap: 2rem;
    }
    &__thumbnail{
        width: 100%;
        aspect-ratio: 1;
        object-fit: cover;
        cursor: pointer;
    }
    &__button{
        background-color: transparent;
        border: none;
        height: 100%;
    }
}