---
//faq page
import Column from "../../components/Column.astro";
import Row from "../../components/Row.astro";
import Layout from "../../layouts/Layout.astro";
import Wave from "../../components/Wave.astro";
---

<Layout title="Handelsbetingelser">
    <meta slot="head" name="description" content="Surfstocks handelsbetingelser." />
    <Row>
        <Column>
            <Wave />
            <h1>Surfstocks Handelsbetingelser</h1>
            <h2>Introduktion</h2>
            <p>
                Når du handler hos os, accepterer du samtidig vores handelsbetingelser, som er
                beskrevet nedenfor. Vi anbefaler derfor, at du læser disse betingelser grundigt
                igennem, før du handler på vores webshop.
            </p>

            <h2>Kontaktinformation</h2>
            <p>Læs mere på <a class="link" href="/faq">FAQ & Support</a>.</p>

            <h2>Bestilling</h2>
            <p>
                Når du bestiller varer hos Surfstock, modtager du en ordrebekræftelse via e-mail.
                Din bestilling er først bindende, når du har modtaget denne bekræftelse.
            </p>

            <h2>Priser og moms</h2>
            <p>
                Alle priser på webshoppen er angivet i danske kroner (DKK) og inklusiv moms.
                Priserne kan ændres uden varsel, men de priser, der er gældende på tidspunktet for
                din bestilling, er de gældende.
            </p>

            <h2>Fragt og levering</h2>
            <p>
                Vi leverer til adresser i Danmark og tilbyder følgende leveringsmetoder: Privat
                hjemmelevering til adresser i Storkøbenhavn, afhenting af varerne på restlagerets
                adresse efter aftale, eller GLS Standardlevering. Leveringstiden på ordrer, som
                bliver leveret med GLS Standardlevering er normalt 2 til 3 arbejdsdate.
                Fragtomkostninger fremgår ved checkout.
            </p>

            <h2>Fortrydelsesret</h2>
            <p>
                Du har 14 dages fortrydelsesret fra den dag, du modtager dine varer. For at gøre
                brug af fortrydelsesretten skal du meddele os dette skriftligt via email. Varerne
                skal returneres i original emballage og i samme stand som ved modtagelsen.
                Returneringsomkostninger skal betales af kunden. Når vi har modtaget og godkendt
                returneringen, refunderer vi købsbeløbet indenfor 14 dage.
            </p>

            <h2>Reklamation</h2>
            <p>
                Du har reklamationsret i 24 måneder fra modtagelsen af varen. Hvis din reklamation
                er berettiget, betyder det, at du enten kan få varen repareret, ombyttet, pengene
                tilbage eller afslag i prisen, afhængig af den konkrete situation. Reklamation skal
                foretages indenfor rimelig tid efter, at du har opdaget manglen. Kontakt os via
                email for at håndtere din reklamation.
            </p>

            <h2>Persondatapolitik</h2>
            <p>
                For at handle på Surfstock skal du oplyse personlige data såsom navn, adresse, email
                og telefonnummer. Disse oplysninger behandles fortroligt og anvendes kun til at
                fuldføre din ordre. Du kan læse mere om, hvordan vi behandler dine persondata i
                vores <a class="link" href="/persondatapolitik">persondatapolitik</a>.
            </p>

            <h2>Ændringer af handelsbetingelser</h2>
            <p>
                Surfstock forbeholder sig retten til at ændre disse handelsbetingelser uden varsel.
                De ændrede betingelser vil blive offentliggjort på vores hjemmeside og gælder fra
                tidspunktet for offentliggørelsen.
            </p>
        </Column>
    </Row>
</Layout>
