---
//homepage
import Image from "astro/components/Image.astro";
import Column from "../components/Column.astro";
import Row from "../components/Row.astro";
import Wave from "../components/Wave.astro";
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import ProductTile from "../components/ProductTile.astro";
import LocalBusinessSchema from "../components/schemas/LocalBusinessSchema.astro";
import Banner from "../components/Banner.astro";

//get windsurf products to show the user
let alternativeProducts = await getCollection("windsurf");
const products = ["HD Tube", "NCX", "Kode Wood", "SDM 100", "V Grip", "POD Seat"];
alternativeProducts = alternativeProducts.filter((alternativeProduct) =>
    products.some((keyword) => alternativeProduct.data.title.includes(keyword))
);
---

<Layout title="Alt det en surfer drømmer om. Bare billigere.">
    <meta
        slot="head"
        name="description"
        content="Køb billige windsurf og kitesurf produkter fra Surfstock. Vi har alt det en surfer drømmer om. Bare Billigere."
    />
    <LocalBusinessSchema />
    <Banner text="Spar mindst 60% på alle våddragter!!!" />
    <Row>
        <Column>
            <div class="hero">
                <Wave />
                <h1 class="hero__title">Alt det en surfer drømmer om. Bare&nbsp;billigere.</h1>
                <div class="hero__gradient"></div>
            </div>
            <ul class="categoryPreview">
                <li class="categoryPreview__tile">
                    <p class="categoryPreview__title">Windsurf</p>
                    <a class="categoryPreview__link" href="/windsurf">Se produkter</a>
                    <div class="categoryPreview__gradientBackground"></div>
                </li>
                <li class="categoryPreview__tile">
                    <p class="categoryPreview__title">Kitesurf</p>
                    <a class="categoryPreview__link" href="/kitesurf">Se produkter</a>
                    <div class="categoryPreview__gradientBackground"></div>
                </li>
                <li class="categoryPreview__tile">
                    <p class="categoryPreview__title">SUP</p>
                    <a class="categoryPreview__link" href="/sup">Se produkter</a>
                    <div class="categoryPreview__gradientBackground"></div>
                </li>
                <li class="categoryPreview__tile">
                    <p class="categoryPreview__title">Beklædning</p>
                    <a class="categoryPreview__link" href="/bekladning">Se produkter</a>
                    <div class="categoryPreview__gradientBackground"></div>
                </li>
            </ul>
        </Column>
    </Row>
    <Row>
        <Column>
            <Image
                src="/logo.svg"
                class="frontpage__logo"
                alt="Surfstock Logo"
                height="50"
                width="50"
            />
        </Column>
        <Column>
            <Wave />
            <h2>Hvad er Surfstock?</h2>
            <p>
                Surfstock er et restlager fra en tidligere dansk surfbutik, som vi desværre blev
                nødt til at lukke ned. Vi har dog stadig en masse fede surfprodukter tilbage, som vi
                nu tilbyder vores kunder til uhørt lave priser.
            </p>
            <a href="/faq" class="link">Se mere på vores FAQ underside →</a>
        </Column>
    </Row>
    <Row>
        <Column>
            <h2>Udvalgte Produkter</h2>
            <ul class="grid">
                {
                    alternativeProducts.map((product) => {
                        return (
                            <li class="grid__item">
                                <ProductTile
                                    product={product}
                                    category={product.collection.replace("sup", "SUP")}
                                />
                            </li>
                        );
                    })
                }
            </ul>
        </Column>
    </Row>
</Layout>
