---
//global headder
import Search from "../Search";
import { getCollection } from "astro:content";
const windsurf = await getCollection("windsurf");
const bekladning = await getCollection("beklædning");
const kitesurf = await getCollection("kitesurf");
//create products variable with all products for the search
const products = windsurf.concat(bekladning, kitesurf);
---

<nav class="globalHeader">
    <ul class="globalHeader__list">
        <li class="globalHeader__group">
            <a href="/" aria-label="Surfstock" tabindex="0">
                <img
                    src="/logo.svg"
                    alt="Surfstock logo"
                    height="100"
                    loading="eager"
                    class="globalHeader__logo"
                />
            </a>
        </li>
        <li class="globalHeader__group hideMobile">
            <figure class="globalHeader__dropdown">
                <figcaption>
                    <a class="globalHeader__link" href="/windsurf">Windsurf</a>
                </figcaption>
                <ul class="globalHeader__dropdownList">
                    <li>
                        <a class="globalHeader__link" href="/windsurf?preFilter=Board">Boards</a>
                    </li>
                    <li>
                        <a class="globalHeader__link" href="/windsurf?preFilter=Sejl">Sejl</a>
                    </li>
                    <li>
                        <a class="globalHeader__link" href="/windsurf?preFilter=Bom">Bomme</a>
                    </li>
                    <li>
                        <a class="globalHeader__link" href="/windsurf?preFilter=Trapez">Trapezer</a>
                    </li>
                    <li>
                        <a class="globalHeader__link" href="/windsurf?preFilter=Forlænger"
                            >Forlængere</a
                        >
                    </li>
                    <li>
                        <a class="globalHeader__link" href="/windsurf?preFilter=Mast">Master</a>
                    </li>
                </ul>
            </figure>
            <figure class="globalHeader__dropdown">
                <figcaption>
                    <a class="globalHeader__link" href="/kitesurf">Kitesurf</a>
                </figcaption>
                <ul class="globalHeader__dropdownList">
                    <li>
                        <a class="globalHeader__link" href="/kitesurf?preFilter=Drage">Drager</a>
                    </li>
                    <li>
                        <a class="globalHeader__link" href="/kitesurf?preFilter=Board">Boards</a>
                    </li>
                </ul>
            </figure>
            <figure class="globalHeader__dropdown">
                <figcaption>
                    <a class="globalHeader__link" href="/sup">SUP</a>
                </figcaption>
                <ul class="globalHeader__dropdownList">
                    <li>
                        <a class="globalHeader__link" href="/sup?preFilter=Pagaj">Pagajer</a>
                    </li>
                    <li>
                        <a class="globalHeader__link" href="/sup?preFilter=Hydration Pack">
                            Hydration&nbsp;Packs
                        </a>
                    </li>
                    <li>
                        <a class="globalHeader__link" href="/sup?preFilter=Leash">Leashes</a>
                    </li>
                </ul>
            </figure>
            <figure class="globalHeader__dropdown">
                <figcaption>
                    <a class="globalHeader__link" href="/bekladning">Beklædning</a>
                </figcaption>
                <ul class="globalHeader__dropdownList">
                    <li>
                        <a class="globalHeader__link" href="/bekladning?preFilter=Termo">Termo</a>
                    </li>
                    <li>
                        <a class="globalHeader__link" href="/bekladning?preFilter=Våddragt"
                            >Våddragter</a
                        >
                    </li>
                    <li>
                        <a class="globalHeader__link" href="/bekladning?preFilter=Impact Vest">
                            Impact&nbsp;Veste
                        </a>
                    </li>
                    <li>
                        <a class="globalHeader__link" href="/bekladning?preFilter=Undervest">
                            Underveste
                        </a>
                    </li>
                    <li>
                        <a class="globalHeader__link" href="/bekladning?preFilter=Sko">Sko</a>
                    </li>
                </ul>
            </figure>
        </li>
        <li class="globalHeader__group globalHeader__group--fill">
            <Search client:load products={products} />
            <a class="snipcart-checkout globalHeader__button" aria-label="Åben kurv">
                <img
                    src="/icons/cart.svg"
                    alt="Cart Icon"
                    class="globalHeader__icon"
                    height="25"
                    loading="eager"
                />
                <div class="globalHeader__cartAmount snipcart-summary">
                    <span class="snipcart-items-count">0</span>
                </div>
            </a>
            <button
                class="globalHeader__button showMobile"
                aria-label="Åben navigation"
                id="openMobileMenu">
                <img
                    src="/icons/menu.svg"
                    alt="Cart Icon"
                    class="globalHeader__icon"
                    height="25"
                    loading="eager"
                />
            </button>
        </li>
    </ul>
</nav>
<script>
    //make the menu "toggleable" :)
    const dialog = document.querySelector("#mobileMenu");
    document.querySelector("#openMobileMenu").addEventListener("click", () => {
        dialog.open = true;
    });
    document.querySelector(".dialog__closeButton").addEventListener("click", () => {
        dialog.open = false;
    });
</script>
