<dialog id="mobileMenu" class="dialog">
    <button class="dialog__closeButton" aria-label="Luk filtermenu">+</button>
    <nav>
        <ul class="dialog__list">
            <li>
                <figure class="dialog__listItem">
                    <figcaption>
                        <a class="dialog__listItemTitle" href="/windsurf"> Windsurf </a>
                    </figcaption>
                    <ul class="dialog__listItemList">
                        <li>
                            <a class="dialog__listItemLink" href="/windsurf?preFilter=Board"
                                >Boards</a
                            >
                        </li>
                        <li>
                            <a class="dialog__listItemLink" href="/windsurf?preFilter=Sejl">Sejl</a>
                        </li>
                        <li>
                            <a class="dialog__listItemLink" href="/windsurf?preFilter=Bom">Bomme</a>
                        </li>
                        <li>
                            <a class="dialog__listItemLink" href="/windsurf?preFilter=Trapez">
                                Trapezer
                            </a>
                        </li>
                        <li>
                            <a class="dialog__listItemLink" href="/windsurf?preFilter=Forlænger">
                                Forlængere
                            </a>
                        </li>
                        <li>
                            <a class="dialog__listItemLink" href="/windsurf?preFilter=Mast"
                                >Master</a
                            >
                        </li>
                    </ul>
                </figure>
            </li>
            <li>
                <figure class="dialog__listItem">
                    <figcaption>
                        <a class="dialog__listItemTitle" href="/kitesurf">Kitesurf</a>
                    </figcaption>
                    <ul class="dialog__listItemList">
                        <li>
                            <a class="dialog__listItemLink" href="/kitesurf?preFilter=Drage"
                                >Drager</a
                            >
                        </li>
                        <li>
                            <a class="dialog__listItemLink" href="/kitesurf?preFilter=Board"
                                >Boards</a
                            >
                        </li>
                    </ul>
                </figure>
            </li>
            <li>
                <figure class="dialog__listItem">
                    <figcaption>
                        <a class="dialog__listItemTitle" href="/sup">SUP</a>
                    </figcaption>
                    <ul class="dialog__listItemList">
                        <li>
                            <a class="dialog__listItemLink" href="/sup?preFilter=Pagaj">Pagajer</a>
                        </li>
                        <li>
                            <a class="dialog__listItemLink" href="/sup?preFilter=Hydration Pack">
                                Hydration Packs
                            </a>
                        </li>
                        <li>
                            <a class="dialog__listItemLink" href="/sup?preFilter=Leash">Leashes</a>
                        </li>
                    </ul>
                </figure>
            </li>
            <li>
                <figure class="dialog__listItem">
                    <figcaption>
                        <a class="dialog__listItemTitle" href="/bekladning">Beklædning</a>
                    </figcaption>
                    <ul class="dialog__listItemList">
                        <li>
                            <a class="dialog__listItemLink" href="/bekladning?preFilter=Termo"
                                >Termo</a
                            >
                        </li>
                        <li>
                            <a class="dialog__listItemLink" href="/bekladning?preFilter=Våddragt">
                                Våddragter
                            </a>
                        </li>
                        <li>
                            <a
                                class="dialog__listItemLink"
                                href="/bekladning?preFilter=Impact Vest">
                                Impact Veste
                            </a>
                        </li>
                        <li>
                            <a class="dialog__listItemLink" href="/bekladning?preFilter=Undervest">
                                Underveste
                            </a>
                        </li>
                        <li>
                            <a class="dialog__listItemLink" href="/bekladning?preFilter=Sko">
                                Sko
                            </a>
                        </li>
                    </ul>
                </figure>
            </li>
        </ul>
    </nav>
</dialog>
