* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-image: url("/background-waves-whangaehu.svg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-height: 100dvh;
}
